.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
div.puissance4{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
div.puissance4 .user{
  font-size: 18px;
  color: #263238;
}
div.puissance4 table {
  border: 3px blue outset;
  background-color: blue;
}
div.puissance4 table td {
  width: 2cm;
  height: 2cm;
  margin: 0px;
  padding: 0px;
  border: 2px blue inset;
  border-radius: 2cm;
  background-color: white;
  cursor: pointer;
}
div.puissance4 p.player1 {
  color: red;
}
div.puissance4 p.player2 {
  color: yellow;
  background-color: black;
}
div.puissance4 td.player1 {
  background-color: red;
}
div.puissance4 td.player2 {
  background-color: yellow;
}